.App {
  width: 200px;
  height: 100%;
  float:left;
  padding: 20px 22px 0 0;
  background-color: #fff;
}
.main_content{
  width: 1200px;
  display:flex
}
header{
  width: 1200px;
  display:flex;
  justify-content: space-between;
}
.Logo {
  width: 236px;
  height: 43.3px;
  margin: 0 0 0px 20px;
  object-fit: contain;
}
.ic_wallet{
  width: 30px;
  height: 30px;
  margin: 7px 0 23px 12px;
  object-fit: contain;
  
}
.Menu_bar {
  width: 200px;
  height: 1056px;
  margin: 16.7px 56px 0 0;
  padding: 87px 0 0;
  border-radius: 50px 0px 0px 0px;
  position:relative;
  background-color: #f2f2f2;
}
footer {
  width: 200px;
  height: 100px;
  margin: 526px 0 0;
  padding: 26px 29px 26px 30px;
  background-color: #c4c4c4;
}
.Copyright2021-Divine-Land-NFT-All-rights-reserved {
  width: 121px;
  height: 48px;
  line-height: 60%;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Menu_box {
  width: 200px;
  height: 343px;
  margin: 0 0 526px;
}

.Menu {
  width: 146px;
  height: 195px;
  margin: 91px 0 12px 54px;
}
._box {
  width: 200px;
  height: 45px;
  margin: 73px 0 0;

}
._box2{
  width: 200px;
  height: 45px;
}
.menu_font {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9e9e9e;
  text-decoration:none
}
.admin_box {
  width: 200px;
  height: 45px;
  margin: 0 0 73px;
  padding: 19px 0 7px 54px;
}
.ADMIN-PAGE {
  width: 146px;
  height: 19px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9e9e9e;
  text-decoration:none
}
.table_content {
  width: 1000px;
  height: 1056px;
  margin-top: 16.7px;
  float:right;
  position:relative;
}