.table_content {
    width: 1000px;
    height: 1056px;
    margin-top: 16.7px;
    float:right;
    position:relative;
  }
  .search_bar{
    display:flex;
    justify-content: space-between;
    margin-top: 119px;
    margin-bottom: 30px;
  }
  table{
    width: 100%;
    border: 1px;
    border-collapse: collapse;
    color: #b2b2b1;
  }
  th{
    padding: 10px;
  }
  td{
    padding: 16px;
    border-color: #f1f1f1;
    border-width: 1px;
    border-left-style: hidden;
    border-right-style: hidden;
  }